<a href="https://colab.research.google.com/github/lizhjort/Insight/blob/master/bestsellers_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

In [0]:
bestsellers = pd.read_csv('/content/gdrive/My Drive/insight_data/bestsellers.csv', encoding='latin-1')

In [0]:
bestsellers.head()

  published_date  ...                             author
0         6/9/19  ...                        Delia Owens
1         6/9/19  ...  James Patterson and Maxine Paetro
2         6/9/19  ...                      Thomas Harris
3         6/9/19  ...                   George RR Martin
4         6/9/19  ...                     David Baldacci

[5 rows x 8 columns]

In [0]:
bestsellers = bestsellers.drop(['rank', 'price', 'title', 'author', 'primary_isbn13', 'published_date'], axis=1)

In [0]:
bestsellers['EverOnBestsellers'] = 1

In [0]:
bestsellers.head()

   weeks_on_list primary_isbn10  EverOnBestsellers
0             38      735219095                  1
1              4      316420263                  1
2              1     1538750147                  1
3             22     152479628X                  1
4              6     1538761416                  1

In [0]:
bestsellers = bestsellers.rename(index=str, columns={"primary_isbn10": "isbn"})

In [0]:
bestsellers.head()

   weeks_on_list        isbn  EverOnBestsellers
0             38   735219095                  1
1              4   316420263                  1
2              1  1538750147                  1
3             22  152479628X                  1
4              6  1538761416                  1

In [0]:
data_with_checkouts = pd.read_pickle('/content/gdrive/My Drive/insight_data/data_11_col.pkl.gz')

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...  text_reviews_count  average_rating
0      10143   2017-09-03  ...                 5.0            3.82
1      10143   2017-09-10  ...                 5.0            3.82
2      10143   2017-09-17  ...                 5.0            3.82
3      10143   2017-09-24  ...                 5.0            3.82
4      10143   2017-10-01  ...                 5.0            3.82

[5 rows x 16 columns]

In [0]:
data = pd.merge(data_with_checkouts, bestsellers, on=['isbn'], how='left')

In [0]:
data.to_pickle('/content/gdrive/My Drive/insight_data/data_12_col.pkl.gz')