<a href="https://colab.research.google.com/github/lizhjort/Insight/blob/master/goodreads_shape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

In [0]:
data_with_checkouts = pd.read_pickle('/content/gdrive/My Drive/insight_data/data_10_col.pkl.gz')

In [0]:
goodreads = pd.read_csv('/content/gdrive/My Drive/insight_data/good_reads.csv')

In [0]:
goodreads.head()

         id        isbn        isbn13  ...  Unnamed: 16  Unnamed: 17  Unnamed: 18
0  30841956   316273880  9.780320e+12  ...          NaN          NaN          NaN
1  31248728  1101870052  9.781100e+12  ...          NaN          NaN          NaN
2  30841952   316262870  9.780320e+12  ...          NaN          NaN          NaN
3  34078056  1410499642  9.781410e+12  ...          NaN          NaN          NaN
4  32075854    62645226  9.780060e+12  ...          NaN          NaN          NaN

[5 rows x 19 columns]

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...                       ISBN  PublicationYear
0      10143   2017-09-03  ...  082220911X, 9780822209119           c1997.
1      10143   2017-09-10  ...  082220911X, 9780822209119           c1997.
2      10143   2017-09-17  ...  082220911X, 9780822209119           c1997.
3      10143   2017-09-24  ...  082220911X, 9780822209119           c1997.
4      10143   2017-10-01  ...  082220911X, 9780822209119           c1997.

[5 rows x 10 columns]

In [0]:
split_isbn = data_with_checkouts['ISBN'].str.split(",", n=1, expand=True)

In [0]:
split_isbn.drop([1], axis=1, inplace=True)

In [0]:
data_with_checkouts['isbn'] = split_isbn

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...  PublicationYear        isbn
0      10143   2017-09-03  ...           c1997.  082220911X
1      10143   2017-09-10  ...           c1997.  082220911X
2      10143   2017-09-17  ...           c1997.  082220911X
3      10143   2017-09-24  ...           c1997.  082220911X
4      10143   2017-10-01  ...           c1997.  082220911X

[5 rows x 11 columns]

In [0]:
goodreads.drop(['work_ratings_count', 'work_reviews_count', 'work_text_reviews_count', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'], axis=1)

             id        isbn  ...  text_reviews_count  average_rating
0      30841956   316273880  ...                 208            4.22
1      31248728  1101870052  ...                  33            4.04
2      30841952   316262870  ...                  77            3.75
3      34078056  1410499642  ...                  70            4.32
4      32075854    62645226  ...                5321            3.93
5      29940815   674545494  ...                   2            4.00
6      32025434   691172579  ...                   0            0.00
7      30215481  1504038754  ...                  49            3.83
8      33276897  1943370109  ...                   5            4.37
9      30653593    62491989  ...                  58            4.15
10     32671354  039958322X  ...                  83            3.74
11     31944938  1933527862  ...                  14            3.94
12     32814693   399576711  ...                  28            3.96
13     31423633  1631216155  ...                   1            4.24
14     28782745  1566560853  ...                   0            0.00
15     32498038   316154725  ...                2231            3.93
16     32080126   812989406  ...                3735            3.76
17     31379212   399184570  ...                 269            4.30
18     32332615  1609385063  ...                   6            3.39
19     34626058   525527451  ...                  37            3.73
20     28957373  1628872608  ...                   1            3.00
21     31212895  1510714650  ...                   0            3.74
22     28646716  1493024019  ...                   2            4.50
23     31143046   300211449  ...                   3            4.38
24     32283423   451493583  ...                1941            3.79
25     31493392  1493024361  ...                   0            4.00
26     32492450  1786575299  ...                   0            3.94
27     32564744  1573246964  ...                  16            4.27
28     32191886  1683960254  ...                   3            4.33
29     29939135  1250111757  ...                 136            3.75
...         ...         ...  ...                 ...             ...
93857  39945241   143133594  ...                   1            4.29
93858  37638289  1250131723  ...                 268            4.24
93859  40720281   241360064  ...                   0            4.00
93860  36950665  1945293624  ...                   6            4.23
93861  37797603    62797611  ...                 104            4.07
93862  42167527  1260453650  ...                   0            0.00
93863  36763211  1501707744  ...                   2            4.00
93864  42359552   525567100  ...                  42            3.54
93865  37958659  236195270X  ...                   0            3.60
93866  39655060  1623496446  ...                   0            0.00
93867   2062048   778325121  ...                 543            3.91
93868  38794755   190872314  ...                   1            4.00
93869  32498531  1478948418  ...                   1            3.91
93870  37857954   807029173  ...                   7            4.33
93871  38458438   811228215  ...                  41            4.08
93872  40816643  1501198440  ...                  27            4.12
93873  37764754  1912374110  ...                 118            3.89
93874  37638098  1250194466  ...                 149            4.03
93875  27985095  1937747573  ...                   0            4.29
93876  27750996  1611175674  ...                   2            4.09
93877  40915203  152474350X  ...                   8            4.05
93878  38917309  1419732528  ...                  13            3.96
93879  25852857  1101902957  ...                 322            4.24
93880  38363400  1538761319  ...                   7            4.28
93881  40228703  1620780984  ...                   0            4.74
93882    263386  1559361360  ...                   9            4.05
93883  38355440  1501191411  ...                 453            4.18
93884  41827282  1788681290  ...                   1            3.00
93885  41827235  1786575965  ...                   0            4.28
93886    358794   385516134  ...                  40            3.76

[93887 rows x 7 columns]

In [0]:
goodreads.dtypes

id                           int64
isbn                        object
isbn13                     float64
ratings_count                int64
reviews_count                int64
text_reviews_count           int64
work_ratings_count           int64
work_reviews_count           int64
work_text_reviews_count      int64
average_rating             float64
Unnamed: 10                float64
Unnamed: 11                float64
Unnamed: 12                float64
Unnamed: 13                float64
Unnamed: 14                float64
Unnamed: 15                float64
Unnamed: 16                float64
Unnamed: 17                float64
Unnamed: 18                float64
dtype: object

In [0]:
goodreads.shape

(93887, 19)

In [0]:
goodreads = goodreads.drop_duplicates()

In [0]:
goodreads = goodreads.drop(['id', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18'], axis=1)

In [0]:
goodreads

             isbn        isbn13  ...  work_text_reviews_count  average_rating
0       316273880  9.780320e+12  ...                     1837            4.22
1      1101870052  9.781100e+12  ...                       37            4.04
2       316262870  9.780320e+12  ...                       88            3.75
3      1410499642  9.781410e+12  ...                    40345            4.32
4        62645226  9.780060e+12  ...                     6761            3.93
5       674545494  9.780670e+12  ...                        2            4.00
6       691172579  9.780690e+12  ...                        0            0.00
7      1504038754  9.781500e+12  ...                       55            3.83
8      1943370109  9.781940e+12  ...                      140            4.37
9        62491989  9.780060e+12  ...                       99            4.15
10     039958322X  9.780400e+12  ...                      106            3.74
11     1933527862  9.781930e+12  ...                       14            3.94
12      399576711  9.780400e+12  ...                      157            3.96
13     1631216155  9.781630e+12  ...                       17            4.24
14     1566560853  9.781570e+12  ...                        0            0.00
15      316154725  9.780320e+12  ...                     2564            3.93
16      812989406  9.780810e+12  ...                     4592            3.76
17      399184570  9.780400e+12  ...                     1509            4.30
18     1609385063  9.781610e+12  ...                        6            3.39
19      525527451  9.780530e+12  ...                     6787            3.73
20     1628872608  9.781630e+12  ...                        1            3.00
21     1510714650  9.781510e+12  ...                       31            3.74
22     1493024019  9.781490e+12  ...                        2            4.50
23      300211449  9.780300e+12  ...                        3            4.38
24      451493583  9.780450e+12  ...                     3648            3.79
25     1493024361  9.781490e+12  ...                        0            4.00
26     1786575299  9.781790e+12  ...                        2            3.94
27     1573246964  9.781570e+12  ...                       17            4.27
28     1683960254  9.781680e+12  ...                        3            4.33
29     1250111757  9.781250e+12  ...                      149            3.75
...           ...           ...  ...                      ...             ...
93853  1941890040  9.781940e+12  ...                        2            4.12
93854   446563595  9.780450e+12  ...                      576            3.98
93855    62516817  9.780060e+12  ...                       22            4.15
93856  1681778696  9.781680e+12  ...                        1            3.33
93857   143133594  9.780140e+12  ...                      124            4.29
93858  1250131723  9.781250e+12  ...                      311            4.24
93860  1945293624  9.781950e+12  ...                       60            4.23
93861    62797611  9.780060e+12  ...                      680            4.07
93863  1501707744  9.781500e+12  ...                        4            4.00
93864   525567100  9.780530e+12  ...                      232            3.54
93865  236195270X  9.782360e+12  ...                        2            3.60
93867   778325121  9.780780e+12  ...                      600            3.91
93868   190872314  9.780190e+12  ...                        1            4.00
93869  1478948418  9.781480e+12  ...                      926            3.91
93870   807029173  9.780810e+12  ...                       11            4.33
93871   811228215  9.780810e+12  ...                       61            4.08
93872  1501198440  9.781500e+12  ...                       38            4.12
93873  1912374110  9.781910e+12  ...                      141            3.89
93874  1250194466  9.781250e+12  ...                      207            4.03
93876  1611175674  9.781610e+12  ...                        2            4.09
93877  152474350X  9.781520e+12  ...                      138            4.05
93878  1419732528  9.781420e+12  ...                       14            3.96
93879  1101902957  9.781100e+12  ...                      371            4.24
93880  1538761319  9.781540e+12  ...                       12            4.28
93881  1620780984  9.781620e+12  ...                        2            4.74
93882  1559361360  9.781560e+12  ...                        9            4.05
93883  1501191411  9.781500e+12  ...                      520            4.18
93884  1788681290  9.781790e+12  ...                        1            3.00
93885  1786575965  9.781790e+12  ...                        3            4.28
93886   385516134  9.780390e+12  ...                       48            3.76

[90216 rows x 9 columns]

In [0]:
goodreads.to_pickle('/content/gdrive/My Drive/insight_data/goodreads.pkl.gz')

In [0]:
data_with_checkouts.to_pickle('/content/gdrive/My Drive/insight_data/data_10_col.pkl.gz')