<a href="https://colab.research.google.com/github/lizhjort/Insight/blob/master/goodreads_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

In [0]:
goodreads = pd.read_pickle('/content/gdrive/My Drive/insight_data/goodreads.pkl.gz')

In [0]:
data_with_checkouts = pd.read_pickle('/content/gdrive/My Drive/insight_data/data_10_col.pkl.gz')

In [0]:
goodreads.shape

(90216, 9)

In [0]:
goodreads.head()

         isbn        isbn13  ...  work_text_reviews_count  average_rating
0   316273880  9.780320e+12  ...                     1837            4.22
1  1101870052  9.781100e+12  ...                       37            4.04
2   316262870  9.780320e+12  ...                       88            3.75
3  1410499642  9.781410e+12  ...                    40345            4.32
4    62645226  9.780060e+12  ...                     6761            3.93

[5 rows x 9 columns]

In [0]:
goodreads = goodreads.drop(['work_ratings_count', 'work_reviews_count', 'work_text_reviews_count'], axis=1)

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...  PublicationYear        isbn
0      10143   2017-09-03  ...           c1997.  082220911X
1      10143   2017-09-10  ...           c1997.  082220911X
2      10143   2017-09-17  ...           c1997.  082220911X
3      10143   2017-09-24  ...           c1997.  082220911X
4      10143   2017-10-01  ...           c1997.  082220911X

[5 rows x 11 columns]

In [0]:
data = pd.merge(data_with_checkouts, goodreads, on=['isbn'], how='left')

In [0]:
data

         BibNumber CheckoutDate  ...  text_reviews_count  average_rating
0            10143   2017-09-03  ...                 5.0            3.82
1            10143   2017-09-10  ...                 5.0            3.82
2            10143   2017-09-17  ...                 5.0            3.82
3            10143   2017-09-24  ...                 5.0            3.82
4            10143   2017-10-01  ...                 5.0            3.82
5            10143   2017-10-08  ...                 5.0            3.82
6            10143   2017-10-15  ...                 5.0            3.82
7            10143   2017-10-22  ...                 5.0            3.82
8            10143   2017-10-29  ...                 5.0            3.82
9            10143   2017-11-05  ...                 5.0            3.82
10           10143   2017-11-12  ...                 5.0            3.82
11           10143   2017-11-19  ...                 5.0            3.82
12           10143   2017-11-26  ...                 5.0            3.82
13           10143   2017-12-03  ...                 5.0            3.82
14           10143   2017-12-10  ...                 5.0            3.82
15           10143   2017-12-17  ...                 5.0            3.82
16           10143   2017-12-24  ...                 5.0            3.82
17           10143   2017-12-31  ...                 5.0            3.82
18           10143   2018-01-07  ...                 5.0            3.82
19           10143   2018-01-14  ...                 5.0            3.82
20           10143   2018-01-21  ...                 5.0            3.82
21           10143   2018-01-28  ...                 5.0            3.82
22           10143   2018-02-04  ...                 5.0            3.82
23           10143   2018-02-11  ...                 5.0            3.82
24           10143   2018-02-18  ...                 5.0            3.82
25           10143   2018-02-25  ...                 5.0            3.82
26           10143   2018-03-04  ...                 5.0            3.82
27           10143   2018-03-11  ...                 5.0            3.82
28           10143   2018-03-18  ...                 5.0            3.82
29           10143   2018-03-25  ...                 5.0            3.82
...            ...          ...  ...                 ...             ...
9014274    3454130   2019-03-03  ...                 NaN             NaN
9014275    3454130   2019-03-03  ...                 NaN             NaN
9014276    3454130   2019-03-10  ...                 NaN             NaN
9014277    3454130   2019-03-10  ...                 NaN             NaN
9014278    3454130   2019-03-17  ...                 NaN             NaN
9014279    3454130   2019-03-17  ...                 NaN             NaN
9014280    3454130   2019-03-24  ...                 NaN             NaN
9014281    3454130   2019-03-24  ...                 NaN             NaN
9014282    3454130   2019-03-31  ...                 NaN             NaN
9014283    3454130   2019-03-31  ...                 NaN             NaN
9014284    3454130   2019-04-07  ...                 NaN             NaN
9014285    3454130   2019-04-07  ...                 NaN             NaN
9014286    3454130   2019-04-14  ...                 NaN             NaN
9014287    3454130   2019-04-14  ...                 NaN             NaN
9014288    3454130   2019-04-21  ...                 NaN             NaN
9014289    3454130   2019-04-21  ...                 NaN             NaN
9014290    3454130   2019-04-28  ...                 NaN             NaN
9014291    3454130   2019-04-28  ...                 NaN             NaN
9014292    3454130   2019-05-05  ...                 NaN             NaN
9014293    3454130   2019-05-05  ...                 NaN             NaN
9014294    3454130   2019-05-12  ...                 NaN             NaN
9014295    3454130   2019-05-12  ...                 NaN             NaN
9014296    3454130   2019-05-19  ...                 NaN             NaN
9014297    3454130   2019-05-19  ...                 NaN             NaN
9014298    3454130   2019-05-26  ...                 NaN             NaN
9014299    3454130   2019-05-26  ...                 NaN             NaN
9014300    3454130   2019-06-02  ...                 NaN             NaN
9014301    3454130   2019-06-02  ...                 NaN             NaN
9014302    3454130   2019-06-09  ...                 NaN             NaN
9014303    3454130   2019-06-09  ...                 NaN             NaN

[9014304 rows x 16 columns]

In [0]:
data.isnull().sum()

BibNumber                        0
CheckoutDate                     0
CheckoutCount                    0
CheckoutCount1WeekPrev           1
CheckoutCount2WeekPrev           2
CheckoutCountNextWeek            2
Genre                      1116279
Title                            0
ISBN                        815238
PublicationYear                  0
isbn                        815238
isbn13                     3413658
ratings_count              3397941
reviews_count              3397941
text_reviews_count         3397941
work_ratings_count         3397941
work_reviews_count         3397941
work_text_reviews_count    3397941
average_rating             3397941
dtype: int64

In [0]:
data.to_pickle('/content/gdrive/My Drive/insight_data/data_11_col.pkl.gz')