<a href="https://colab.research.google.com/github/lizhjort/Insight/blob/master/Merge_genre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import lightgbm as lgb

In [0]:
data_with_checkouts = pd.read_pickle('/content/gdrive/My Drive/insight_data/data_with_checkouts.pkl.gz')

In [0]:
checkouts = pd.read_pickle('/content/gdrive/My Drive/insight_data/checkouts.pkl.gz')

In [0]:
inventory = pd.read_pickle('/content/gdrive/My Drive/insight_data/min_inventory.pkl.gz')

In [0]:
checkouts.head()

    BibNumber  ...    CheckoutDateTime
0     2856320  ... 2017-09-01 08:03:00
20    2802097  ... 2017-09-01 09:18:00
32    3259846  ... 2017-09-01 09:20:00
38    3141712  ... 2017-09-01 09:20:00
40    3246991  ... 2017-09-01 09:20:00

[5 rows x 5 columns]

In [0]:
genre = checkouts['CallNumber'].str.split(" ", n = 1, expand = True)

In [0]:
genre.drop([1], axis=1, inplace=True)

In [0]:
genre = genre[0].str.split(".", n=1, expand=True)

In [0]:
genre.drop([1], axis=1, inplace=True)

In [0]:
def label_encode(series, min_count):
    vc = series.value_counts()
    le = {c:i for i, c in enumerate(vc.index[vc >= min_count])}
    return le
  
le = None
if le is None:
  le_genre = label_encode(genre[0], min_count=1000)
else:
  le_genre = le

In [0]:
checkouts['Genre'] = genre
checkouts['Genre'] = checkouts['Genre'].map(le_genre).fillna(-1).astype(int)

In [0]:
checkouts

          BibNumber  ItemBarcode  ...    CheckoutDateTime Genre
0           2856320  10090971945  ... 2017-09-01 08:03:00     6
20          2802097  10076863678  ... 2017-09-01 09:18:00     0
32          3259846  10091244367  ... 2017-09-01 09:20:00    -1
38          3141712  10086563177  ... 2017-09-01 09:20:00    -1
40          3246991  10090698043  ... 2017-09-01 09:20:00   144
55            67969  10002659414  ... 2017-09-01 09:21:00     9
62          2371303  10052633939  ... 2017-09-01 09:23:00     0
63          3078444  10085581386  ... 2017-09-01 09:23:00    29
64          3091988  10091181353  ... 2017-09-01 09:24:00     5
65          2047749  10083452200  ... 2017-09-01 09:24:00     5
68          2408644  10088262505  ... 2017-09-01 09:24:00     5
69           110951  10082150789  ... 2017-09-01 09:24:00     5
71          3045444  10083415371  ... 2017-09-01 09:25:00     5
73          2211393  10047962484  ... 2017-09-01 09:25:00     3
75          2170776  10045082954  ... 2017-09-01 09:25:00     3
76          2623108  10070187306  ... 2017-09-01 09:25:00    -1
77          1953375  10038952254  ... 2017-09-01 09:25:00     3
84          2268210  10048256886  ... 2017-09-01 09:25:00     3
85          3067499  10084157220  ... 2017-09-01 09:25:00     3
86          3236073  10089775976  ... 2017-09-01 09:25:00     3
87          3214159  10090112722  ... 2017-09-01 09:25:00     3
91          2441587  10088137327  ... 2017-09-01 09:26:00   115
93          2681710  10071448202  ... 2017-09-01 09:26:00     3
94          3219741  10087942545  ... 2017-09-01 09:26:00     5
95          2285039  10047144323  ... 2017-09-01 09:26:00     3
97          3013288  10082945493  ... 2017-09-01 09:26:00     3
98          1938743  10038303888  ... 2017-09-01 09:26:00     3
104         2740376  10073582909  ... 2017-09-01 09:26:00     3
106         2545827  10069512654  ... 2017-09-01 09:26:00    39
109         2638687  10071968118  ... 2017-09-01 09:26:00    39
...             ...          ...  ...                 ...   ...
10471768    3078702  10085845740  ... 2019-06-04 19:55:00    40
10471770    3438279  10096990543  ... 2019-06-04 19:55:00     4
10471771    3434945  10095019096  ... 2019-06-04 19:55:00     0
10471780    3420269  10096536544  ... 2019-06-04 19:56:00     2
10471781      59210    100846963  ... 2019-06-04 19:56:00     9
10471784    3347763  10093458502  ... 2019-06-04 19:56:00    34
10471787    3272841  10090947994  ... 2019-06-04 19:56:00     9
10471788    2733580  10074501437  ... 2019-06-04 19:56:00    62
10471789    2552962  10063676901  ... 2019-06-04 19:56:00    29
10471790    3264054  10095016662  ... 2019-06-04 19:56:00    42
10471791    3380830  10095590567  ... 2019-06-04 19:56:00     4
10471792    3303927  10091972470  ... 2019-06-04 19:56:00     9
10471793    3434279  10094473401  ... 2019-06-04 19:56:00     2
10471794    2843437  10076609980  ... 2019-06-04 19:56:00     4
10471795    3361879  10096631220  ... 2019-06-04 19:56:00    -1
10471799    2648774  10070278162  ... 2019-06-04 19:56:00    62
10471805    2871178  10077487428  ... 2019-06-04 19:57:00   129
10471813    3434544  10094590196  ... 2019-06-04 19:58:00    15
10471819    3284130  10090522342  ... 2019-06-04 19:58:00   110
10471820    2397704  10056866600  ... 2019-06-04 19:58:00    33
10471826    2657933  10071198955  ... 2019-06-04 19:59:00     1
10471827    3198586  10087841853  ... 2019-06-04 19:59:00    -1
10471828    3336161  10091893254  ... 2019-06-04 19:59:00     4
10471830    3066883  10086030870  ... 2019-06-04 19:59:00     1
10471831    3209473  10087724620  ... 2019-06-04 19:59:00    21
10471832    2585665  10070031074  ... 2019-06-04 19:59:00   171
10471833    3449529  10096699730  ... 2019-06-04 20:00:00     5
10471835    1858449  10038171491  ... 2019-06-04 20:00:00    70
10471836    3176888  10094800652  ... 2019-06-04 20:00:00     5
10471837    2805607  10096016687  ... 2019-06-04 20:00:00     5

[3635256 rows x 6 columns]

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...  CheckoutCount2WeekPrev  CheckoutCountNextWeek
0      10143   2017-09-03  ...                     NaN                    0.0
1      10143   2017-09-10  ...                     NaN                    0.0
2      10143   2017-09-17  ...                     0.0                    0.0
3      10143   2017-09-24  ...                     0.0                    0.0
4      10143   2017-10-01  ...                     0.0                    0.0

[5 rows x 6 columns]

In [0]:
#checkouts['Genre'].value_counts()
unique_genre = checkouts['Genre'].unique()
unique_genre = pd.DataFrame(data=unique_genre)
unique_genre.head()

     0
0  741
1  FIC
2  417
3  126
4  500

In [0]:
checkouts = checkouts.drop(['ItemBarcode', 'CallNumber',	'ItemTitle',	'CheckoutDateTime'], axis=1)

In [0]:
checkouts.head()

    BibNumber  Genre
0     2856320      6
20    2802097      0
32    3259846     -1
38    3141712     -1
40    3246991    144

In [0]:
checkouts = checkouts.sort_values(by='BibNumber', axis=0)

In [0]:
checkouts = checkouts.drop_duplicates()

In [0]:
checkouts.shape

(247405, 2)

In [0]:
data_with_checkouts.head()

   BibNumber CheckoutDate  ...  CheckoutCount2WeekPrev  CheckoutCountNextWeek
0      10143   2017-09-03  ...                     NaN                    0.0
1      10143   2017-09-10  ...                     NaN                    0.0
2      10143   2017-09-17  ...                     0.0                    0.0
3      10143   2017-09-24  ...                     0.0                    0.0
4      10143   2017-10-01  ...                     0.0                    0.0

[5 rows x 6 columns]

In [0]:
data = pd.merge(data_with_checkouts, checkouts, on=['BibNumber'], how='left')

In [0]:
data

         BibNumber CheckoutDate  ...  CheckoutCountNextWeek  Genre
0            10143   2017-09-03  ...                    0.0   72.0
1            10143   2017-09-10  ...                    0.0   72.0
2            10143   2017-09-17  ...                    0.0   72.0
3            10143   2017-09-24  ...                    0.0   72.0
4            10143   2017-10-01  ...                    0.0   72.0
5            10143   2017-10-08  ...                    0.0   72.0
6            10143   2017-10-15  ...                    0.0   72.0
7            10143   2017-10-22  ...                    0.0   72.0
8            10143   2017-10-29  ...                    0.0   72.0
9            10143   2017-11-05  ...                    0.0   72.0
10           10143   2017-11-12  ...                    0.0   72.0
11           10143   2017-11-19  ...                    0.0   72.0
12           10143   2017-11-26  ...                    0.0   72.0
13           10143   2017-12-03  ...                    0.0   72.0
14           10143   2017-12-10  ...                    0.0   72.0
15           10143   2017-12-17  ...                    0.0   72.0
16           10143   2017-12-24  ...                    0.0   72.0
17           10143   2017-12-31  ...                    0.0   72.0
18           10143   2018-01-07  ...                    0.0   72.0
19           10143   2018-01-14  ...                    0.0   72.0
20           10143   2018-01-21  ...                    0.0   72.0
21           10143   2018-01-28  ...                    0.0   72.0
22           10143   2018-02-04  ...                    0.0   72.0
23           10143   2018-02-11  ...                    0.0   72.0
24           10143   2018-02-18  ...                    0.0   72.0
25           10143   2018-02-25  ...                    0.0   72.0
26           10143   2018-03-04  ...                   21.0   72.0
27           10143   2018-03-11  ...                    0.0   72.0
28           10143   2018-03-18  ...                    0.0   72.0
29           10143   2018-03-25  ...                    0.0   72.0
...            ...          ...  ...                    ...    ...
7553709    3454130   2019-03-03  ...                    0.0    2.0
7553710    3454130   2019-03-03  ...                    0.0   42.0
7553711    3454130   2019-03-10  ...                    0.0    2.0
7553712    3454130   2019-03-10  ...                    0.0   42.0
7553713    3454130   2019-03-17  ...                    0.0    2.0
7553714    3454130   2019-03-17  ...                    0.0   42.0
7553715    3454130   2019-03-24  ...                    0.0    2.0
7553716    3454130   2019-03-24  ...                    0.0   42.0
7553717    3454130   2019-03-31  ...                    0.0    2.0
7553718    3454130   2019-03-31  ...                    0.0   42.0
7553719    3454130   2019-04-07  ...                    0.0    2.0
7553720    3454130   2019-04-07  ...                    0.0   42.0
7553721    3454130   2019-04-14  ...                    0.0    2.0
7553722    3454130   2019-04-14  ...                    0.0   42.0
7553723    3454130   2019-04-21  ...                    0.0    2.0
7553724    3454130   2019-04-21  ...                    0.0   42.0
7553725    3454130   2019-04-28  ...                    0.0    2.0
7553726    3454130   2019-04-28  ...                    0.0   42.0
7553727    3454130   2019-05-05  ...                 5887.0    2.0
7553728    3454130   2019-05-05  ...                 5887.0   42.0
7553729    3454130   2019-05-12  ...                 2001.0    2.0
7553730    3454130   2019-05-12  ...                 2001.0   42.0
7553731    3454130   2019-05-19  ...                 3306.0    2.0
7553732    3454130   2019-05-19  ...                 3306.0   42.0
7553733    3454130   2019-05-26  ...                 2755.0    2.0
7553734    3454130   2019-05-26  ...                 2755.0   42.0
7553735    3454130   2019-06-02  ...                  957.0    2.0
7553736    3454130   2019-06-02  ...                  957.0   42.0
7553737    3454130   2019-06-09  ...                    NaN    2.0
7553738    3454130   2019-06-09  ...                    NaN   42.0

[7553739 rows x 7 columns]

In [0]:
data.to_pickle('/content/gdrive/My Drive/insight_data/data_7_col.pkl.gz')