<a href="https://colab.research.google.com/github/lizhjort/Insight/blob/master/results_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error
import lightgbm as lgb
import matplotlib.pyplot as plt

In [0]:
data = pd.read_pickle('/content/gdrive/My Drive/insight_data/data_12_col.pkl.gz')

In [0]:
y_pred = pd.read_pickle('/content/gdrive/My Drive/insight_data/y_predictions3.pkl.gz')

In [0]:
y_pred.reset_index(inplace=True)

In [0]:
data[['ratings_count', 'reviews_count', 'text_reviews_count', 'average_rating']] = data[['ratings_count', 'reviews_count', 'text_reviews_count', 'average_rating']].fillna(value=0)

In [0]:
X_test = data.loc[data['CheckoutDate'] >= '2019-05-05']
data = data.loc[data['CheckoutDate'] < '2019-05-05']
y_test = X_test['CheckoutCountNextWeek']

In [0]:
X_test.drop(['CheckoutCount', 'CheckoutCount1WeekPrev', 'CheckoutCount2WeekPrev', 'Genre', 'isbn', 'PublicationYear', 'ratings_count', 'reviews_count', 'text_reviews_count', 'average_rating', 'weeks_on_list', 'EverOnBestsellers', 'isbn13'], axis=1, inplace=True)

In [0]:
X_test.reset_index(inplace=True)

In [0]:
results_df = pd.merge(X_test, y_pred, left_index=True, right_index=True)

In [0]:
results_df = results_df.rename(index=str, columns={0: "Predictions"})

In [12]:
results_df.head()

   index_x  BibNumber  ... index_y  Predictions
0       87      10143  ...       0          0.0
1       88      10143  ...       1          0.0
2       89      10143  ...       2          0.0
3       90      10143  ...       3          0.0
4       91      10143  ...       4          0.0

[5 rows x 8 columns]

In [0]:
sample = results_df.sample(25)

In [0]:
results_df.drop(['index_x', 'index_y'], axis=1, inplace=True)

In [0]:
sample = sample.rename(index=str, columns={0: "Predictions"})

In [16]:
sample

        index_x  BibNumber  ... index_y   Predictions
484639  9109626    3389413  ...  484639  3.385805e-01
51607    962266    2364939  ...   51607  0.000000e+00
228682  4263487    3009287  ...  228682  0.000000e+00
496072  9330220    3407006  ...  496072  1.075335e-02
44383    828564    2281617  ...   44383  0.000000e+00
195163  3634620    2942444  ...  195163  0.000000e+00
494718  9302694    3405009  ...  494718  7.220375e-01
185427  3453460    2927705  ...  185427  0.000000e+00
141918  2643615    2838473  ...  141918  0.000000e+00
158930  2960973    2875870  ...  158930  0.000000e+00
126657  2359776    2751843  ...  126657  0.000000e+00
221446  4128733    2991265  ...  221446  0.000000e+00
178375  3322237    2916509  ...  178375 -1.584196e-02
114855  2138905    2731693  ...  114855  0.000000e+00
408427  7624878    3278941  ...  408427  0.000000e+00
23726    444175    2029763  ...   23726  0.000000e+00
320817  5981756    3162285  ...  320817  0.000000e+00
321762  5999333    3163515  ...  321762  7.543799e-03
3382      63468    1639316  ...    3382  0.000000e+00
495266  9312923    3405739  ...  495266  0.000000e+00
118768  2212002    2739031  ...  118768  0.000000e+00
143306  2669467    2844607  ...  143306  0.000000e+00
27277    509776    2078062  ...   27277  0.000000e+00
395386  7376470    3266017  ...  395386  0.000000e+00
241629  4504266    3029321  ...  241629 -5.636669e-09

[25 rows x 8 columns]

In [17]:
y_true = results_df['CheckoutCountNextWeek']
y_pred = results_df['Predictions']

from sklearn.metrics import mean_squared_error
from math import sqrt

test_error = mean_absolute_error(y_true, y_pred)
print(test_error)

4.4261317332197025

In [0]:
results_df['MonthYear'] = results_df['CheckoutDate'].apply(lambda x: x.strftime('%Y-%m'))

In [0]:
results_df.to_pickle('/content/gdrive/My Drive/insight_data/results_new.pkl.gz')

In [0]:
inventory = pd.read_pickle('/content/gdrive/My Drive/insight_data/min_inventory.pkl.gz')

In [21]:
inventory.head()

    BibNumber  ... MonthYear
44    3259688  ...   2017-09
58    2130621  ...   2017-09
62    3068849  ...   2017-09
63    2044450  ...   2017-09
75    3165152  ...   2017-09

[5 rows x 9 columns]

In [0]:
inventory['MonthYear'] = inventory['ReportDate'].apply(lambda x: x.strftime('%Y-%m'))

In [0]:
inventory.to_pickle('/content/gdrive/My Drive/insight_data/min_inventory.pkl.gz')

In [0]:
results_df.to_csv('/content/gdrive/My Drive/insight_data/results_new.csv')

In [0]:
inventory.to_csv('/content/gdrive/My Drive/insight_data/min_inventory.csv')